<div class="m-3" id="weekly_analysis_page">
  <h2>历史仓位变化曲线图</h2>
  <div class="chart mb-5">
    <div>
      <%= render partial: "profit_daily_chart" %>
    </div>
    <div>
      <%= render partial: "loss_daily_chart" %>
    </div>
    <div>
      <%= render partial: "roi_daily_chart" %>
    </div>
  </div>
</div>